#about
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.about-header
{
    font-size: 2rem;
    color: var(--text-color-first);
}

.about-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}

.about-content-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    max-width: 30%;
}

.about-university-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    border: 0.2rem solid var(--text-color-first);
    border-radius: 1rem;

    padding: 1.5em;
}

.about-university-card-icon
{
    width: 3rem;
}

.about-university-card-text
{
    font-size: 1.8rem;
    font-weight: 600;
    text-align: center;
}

.about-university-card-text span
{
    color: var(--text-color-third);
    font-weight: 400;
}

.about-university-card:hover
{
    border: 0.2rem solid var(--primary-color);
}

.about-university-card:hover .about-university-card-icon
{
    fill: var(--primary-color);
}

.about-university-card:hover .about-university-card-text
{
    color: var(--primary-color);
}

.about-me-text
{
    max-width: 80%;
    font-size: 1.5rem;
    text-align: justify;
    line-height: 1.6;
}

.about-me-text strong
{
    font-weight: 600;
}

.about-me-text:hover strong
{
    color: var(--primary-color);
}

.university-image
{
    width: 50rem;
    aspect-ratio: 2 / 1;
    object-fit: cover;
    object-position: center;

    border: 0.5rem solid var(--bg-color-first);
    border-radius: 1rem;
}

.university-image:hover
{
    border: 0.4rem solid var(--primary-color);
}