#contact
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.contact-header
{
    font-size: var(--headers-size);
    font-family: var(--font);
    font-weight: 700;
    color: var(--text-color-first);
}

.contact-content-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;

    gap: 3rem;
}

/* SOCIAL MEDIAS */
.social-media-container
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:stretch;


    gap: 1rem;
}
.social-media-container a
{
    width: 100%;
}
.social-media
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
    gap: 1rem;

    background-color: var(--text-color-first);

    padding: 1.5em 2em;
    border: none;
    border-radius: 0.5em;

    cursor: pointer;
}
.social-media:active
{
    filter: brightness(80%);
}
.social-media-icon
{
    width: 4rem;
    fill: var(--bg-color-first);
}
.social-media-username
{
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color-first);
}
.email-contact-container-copied
{
    background-color: var(--success);
}

.email-copy-icon-area
{
    width: 2rem;
}
.email-copy-icon
{
    width: 2rem;
    fill: var(--bg-color-first);  
}
.email-copied-icon
{
    width: 2rem;
    fill: var(--bg-color-first); 
}

/* FORMS */
.contact-form-area
{
    flex: 1;
}
.contact-form
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
.input-area
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 1rem;
}
.contact-input-name, .contact-input-email, .contact-input-message
{
    width: 100%;

    background-color: var(--bg-color-first);

    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--text-color-first);

    padding: 0.7em 1em;
    border: 0.2em solid var(--text-color-first);
    border-radius: 0.5em;
}
.contact-input-name:focus, .contact-input-email:focus, .contact-input-message:focus
{
    outline: none;
    border-color: var(--primary-color);
}
.contact-input-name::placeholder, .contact-input-email::placeholder, .contact-input-message::placeholder
{
    font-family: var(--font);
    font-style: italic;
    font-size: 1.5rem;
    font-weight: 400;
}
.contact-input-message
{
    min-height: 10rem;
    resize: vertical;
}
.contact-submit-button
{
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color-first);
    
    background-color: var(--bg-color-first);

    padding: 1.2em 1.6em;
    border: 0.2em solid var(--text-color-first);
    border-radius: 0.5em;

    white-space: nowrap;

    cursor: pointer;
}

.contact-submit-button:active
{
    color: var(--success);
    border: 0.2em solid var(--success);
}

@media (min-width: 1024px)
{
    .contact-content-container
    {
        flex-direction: row;
    }
}

@media (hover: hover) and (pointer: fine)
{
    .social-media:hover
    {
        background-color: var(--primary-color);
    }
    .contact-submit-button:hover
    {
        color: var(--primary-color);
        border: 0.2em solid var(--primary-color);
    }
    .email-contact-container-copied:hover
    {
        background-color: var(--success);
    }
}