footer
{
    min-height: 90vh;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 4rem;

    background-color: var(--text-color-second);
    padding-top: 4rem;
}

.footer-container
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: var(--menu-size) 5%;
}
@media (max-width: 768px)
{
    .footer-container
    {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
}

/* IMAGE AREA*/
.footer-image-area
{
    width: 20%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    gap: 3rem;
}
@media (max-width: 768px)
{
    .footer-image-area
    {
        justify-content: center;
    }
}
.footer-image
{
    width: 100%;
    min-width: 40px;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;

    border: 0.5rem solid var(--text-color-second);
    border-radius: 16%;
}
.footer-image:hover
{
    border: 0.5rem solid var(--primary-color);
}
.footer-projects-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    background-color: var(--bg-color-first);
    padding: 1.5em 2em;
    border: none;
    border-radius: 0.5em;

    white-space: nowrap;

    cursor: pointer;
}
.footer-projects-button p
{
    font-family: (--font);
    font-size: 1.5rem;
    font-weight: 700;
    color: var(--text-color-second);
}
.arrow-icon-footer-button
{
    width: 2rem;
    fill: var(--text-color-second);
}
.footer-projects-button:hover
{
    background-color: var(--primary-color);
    transform: translateY(-0.2rem);
    
}
.footer-projects-button:hover p
{
    color: var(--bg-color-first);
}
.footer-projects-button:hover .arrow-icon-footer-button
{
    fill: var(--bg-color-first);
}
@media (hover: none)
{
    .footer-projects-button
    {
        background-color: var(--primary-color);
    }
    .footer-projects-button p
    {
        color: var(--bg-color-first);
    }
    .footer-projects-button .arrow-icon-footer-button
    {
        fill: var(--bg-color-first);
    }
}

/* SITEMAP AREA*/
.sitemap
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 1rem;
}
@media (max-width: 768px)
{
    .sitemap
    {
        justify-content: center;
    }
}
.sitemap-header
{
    color: var(--bg-color-first);
    font-size: 1.8rem;
    font-weight: 600;
}
.sitemap-item
{
    color: var(--bg-color-first);
    font-size: 1.5rem;
    cursor: pointer;
}
.sitemap-item:hover
{
    color: var(--primary-color);
}

/* FOOTER CONTACT AREA*/
.footer-contact
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
@media (max-width: 768px)
{
    .footer-contact
    {
        flex-direction: row;
        justify-content: center;
    }
}
.footer-social-media-icon
{
    width: 4rem;
    fill: var(--bg-color-first);
    cursor: pointer;
}
.footer-social-media-icon:hover
{
    fill: var(--primary-color);
}

/* COPYRIGHT AREA*/
.copyright-area
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    background-color: var(--text-color-first);
}
.copyright-message
{
    width: 70%;
    font-size: 1.5rem;
    color: var(--bg-color-first);
    text-align: center;

    padding: 1em 0rem;

    white-space: normal;
}