*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 300ms ease;
}

html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body
{
    font-family: var(--font);
    padding-bottom: 0;
    background-color: var(--bg-color-first);
    user-select: none;

    min-height: 100vh;
}

main
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: var(--menu-size);
}

section
{
    width: 100%;
    padding: var(--menu-size) 5%;
    min-height: 90vh;
    background-color: lightgreen;

    scroll-margin-top: var(--menu-size); /* Prevent overlap */
}

section:nth-child(even)
{
    background-color: hsl(0, 0%, 70%);
}

p
{
    color: var(--text-color-second);
}


