*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    transition: all 300ms ease;
}

html
{
    font-size: 58.3%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

@media (min-width: 768px)
{
    html 
    {
        font-size: 66.6%; 
    }
}

/*
@media (min-width: 1200px)
{
    html 
    {
        font-size: 75%; 
    }
}
*/

body
{
    min-height: 100vh;
    overflow-x: hidden;

    font-family: var(--font);

    padding: 0;
    margin: 0;
    background-color: var(--bg-color-first);

    user-select: none;
}

main
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    padding-top: var(--menu-size);
}

section
{
    width: 100%;
    padding: var(--menu-size) 5%;
    min-height: 90vh;
    background-color: var(--bg-color-first);

    scroll-margin-top: var(--menu-size); /* Prevent overlap */
}

section:nth-child(even)
{
    background-color: var(--bg-color-second);
}

p
{
    color: var(--text-color-second);
}


