*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body
{
    font-family: var(--font);
    padding-top: 25vh;
    padding-bottom: 0;
    padding-right: 4rem;
    padding-left: 4rem;
    background-color: var(--bg-color-first);
}

p
{
    color: var(--text-color-second);
}
