header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    height: var(--menu-size);

    padding: 0px 5%;

    background-color: var(--bg-color-first);

    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

/* LOGO AREA */
.logo-area
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    gap: 2rem;
}
.logo-image
{
    width: 4rem;
    height: 4rem;
    object-fit: cover;
    object-position: top;

    border: none;
    border-radius: 16%;

    cursor: pointer;
}
.logo-name
{
    color: var(--text-color-first);
    font-size: 2rem;
    font-weight: 600;
}

/* MOBILE MENU*/
.hamburguer-icon
{
    width: 2rem;
    fill: var(--text-color-first);
    cursor: pointer;
}

.mobile-sidebar
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 1000;

    width: 16rem;
    padding: 3rem 0rem;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 8rem;
    
    background-color: var(--bg-color-second);

    display: none;
}

.mobile-sidebar-open
{
    display: flex;
}

.close-icon
{
    width: 2rem;
    fill: var(--text-color-first);
    cursor: pointer; 
    display: inline-block;
}

.mobile-sidebar-links-area
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    width: 100%;
}

.mobile-sidebar-link
{
    color: var(--text-color-second);
    font-size: 1.2rem;
    font-weight: 500;
    width: 100%;

    padding: 1.5rem 3rem;
}

.hamburguer-icon-hidden
{
    display: none;
}

/* DESKTOP MENU */
.desktop-menu 
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    display: none;
}
.desktop-menu-link
{
    color: var(--text-color-second);
    font-size: 1.5rem;
    font-weight: 500;
}

@media (min-width: 1024px)
{
    .mobile-sidebar
    {
        display: none;
    }
    .hamburguer-icon
    {
        display: none;
    }
    .desktop-menu
    {
        display: flex;
    }
}