header
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;

    height: var(--menu-size);

    padding: 0px 5%;

    background-color: var(--bg-color-first);

    box-shadow: 0px 0px 10px var(--bg-color-third);
}

/* LOGO AREA */
.logo-area
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.logo-image
{
    width: 3rem;
    aspect-ratio: 1 / 1;
    object-fit: cover;
    object-position: top;

    border: none;
    border-radius: 16%;

    cursor: pointer;
}
.logo-name
{
    font-size: var(--headers-size);
    font-weight: 500;
    color: var(--text-color-first);

    cursor: pointer;
}

/* MOBILE MENU*/
.hamburguer-icon
{
    width: 3rem;
    fill: var(--text-color-first);
    cursor: pointer;
}

.mobile-sidebar
{
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    z-index: 999;

    width: 40%;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    
    background-color: var(--bg-color-third);
    border: none;
    /*
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    box-shadow: 0px 0px 10px var(--border-color);*/

    display: none;
}

.mobile-sidebar-open
{
    display: flex;
}

.close-icon
{
    width: 3rem;
    display: inline-block;
    fill: var(--text-color-first);
    cursor: pointer; 
}

.mobile-sidebar-links-area
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.mobile-sidebar-link
{
    width: 100%;

    font-size: 1.5rem;
    font-weight: 500;
    color: var(--text-color-first);

    border-bottom: solid 0.2em var(--bg-color-second);
    padding: 3rem 3rem;

    cursor: pointer;
}

.mobile-sidebar-link:nth-child(1)
{
    border-top: solid 0.2em var(--bg-color-second);
}

.hamburguer-icon-hidden
{
    display: none;
}

/* DESKTOP MENU */
.desktop-menu 
{
    display: contents;
    display: none;
}
.desktop-menu-links-area
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}
.desktop-menu-link
{
    color: var(--text-color-first);
    font-size: 1.5rem;
    font-weight: 500;

    cursor: pointer;
}

.desktop-menu-link:active, .mobile-sidebar-link:active
{
    filter: brightness(80%);
}

.light-mode-button
{
    width: 3rem;
    fill: var(--text-color-first);
    cursor: pointer;
}

@media (min-width: 1024px)
{
    .mobile-sidebar
    {
        display: none;
    }
    .hamburguer-icon
    {
        display: none;
    }
    .desktop-menu
    {
        display: contents;
    }
}

@media (hover: hover) and (pointer: fine)
{
    .desktop-menu-link:hover, .mobile-sidebar-link:hover
    {
        color: var(--primary-color);
    }
    .light-mode-button:hover
    {
        fill: var(--primary-color);
    }
}