#hero
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 3rem;

    padding: 0% 5%;

    scroll-margin-top: 0;
}
@media (max-width: 768px) /* MOBILE */
{
    #hero
    {
        flex-direction: column;
    }
}

.hero-my-image
{
    width: 35%;
    min-width: 200px;
    aspect-ratio: 1 / 1;

    object-fit: cover;
    object-position: top;

    border: solid 0.5rem var(--bg-color-first);
    border-radius: 16%;

    animation: float 8s ease-in-out infinite;
}

.hero-my-image:hover
{
    border: solid 0.5rem var(--primary-color);
}

@keyframes float
{
    0% 
    {
        transform: translateY(0);
    }

    50%
    {
        transform: translateY(-20px);
    }

    100%
    {
        transform: translateY(0);
    }
}

.hero-content-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.hero-text-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-p1
{
    font-size: 1.2rem;
    color: var(--text-color-second);
    text-align: center;
}

.hero-h1
{
    font-size: 3rem;
    color: var(--text-color-first);
    text-align: center;
}

.hero-p2
{
    font-size: 2rem;
    color: var(--text-color-second);
    text-align: center;
}

.hero-buttons-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}
@media (max-width: 768px)
{
    .hero-buttons-container
    {
        flex-direction: column;
        align-items: stretch;
    }
}

.hero-contact-button
{
    width: 100%;
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color-first);

    background-color: var(--text-color-first);
    padding: 1.5em 2em;
    border: 0.2em solid var(--text-color-first);
    border-radius: 0.5em;

    white-space: nowrap;

    cursor: pointer;
}

.hero-contact-button:hover
{
    transform: translateY(-0.2rem);
    background-color: var(--primary-color);
    border-color: var(--primary-color);
}

@media (hover: none)
{
    .hero-contact-button
    {
        background-color: var(--primary-color);
        border-color: var(--primary-color);
    }
}
.hero-projects-button
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color-first);

    background-color: var(--bg-color-first);
    padding: 1.5em 2em;
    border: 0.2em solid var(--text-color-first);
    border-radius: 0.5em;

    white-space: nowrap;

    cursor: pointer;
}

.arrow-icon-hero-button
{
    width: 2rem;
    fill: var(--text-color-first);
}

.hero-projects-button:hover
{
    transform: translateY(-0.2rem);
    border-color: var(--primary-color);
    color: var(--primary-color);
}

.hero-projects-button:hover .arrow-icon-hero-button
{
    fill: var(--primary-color);
}

@media (hover: none)
{
    .hero-projects-button
    {
        border-color: var(--primary-color);
        color: var(--primary-color);
    }
    .arrow-icon-hero-button
    {
        fill: var(--primary-color);
    }
}