#hero
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    padding: var(--menu-size) 5%;

    scroll-margin-top: 0;
}

.hero-my-image
{
    width: 70%;
    min-width: 200px;
    aspect-ratio: 1 / 1;

    object-fit: cover;
    object-position: top;

    border-radius: 16%;

    animation: float 10s ease-in-out infinite;
}


@keyframes float
{
    0% 
    {
        transform: translateY(0);
    }

    50%
    {
        transform: translateY(-2rem);
    }

    100%
    {
        transform: translateY(0);
    }
}

.hero-content-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;
}

.hero-text-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hero-p1
{
    font-size: 2rem;
    color: var(--text-color-second);
    text-align: center;
}

.hero-h1
{
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color-first);
    text-align: center;
}

.hero-p2
{
    display: inline-block;

    font-family: var(--font);
    font-size: 2.4rem;
    color: var(--text-color-second);
    text-align: center;
    white-space: nowrap;

    width: max-content;
    border-right: 0.2em solid var(--text-color-first);
    overflow: hidden;

    animation: typewriter 20s linear infinite, blink 1s step-end infinite;
}

@keyframes typewriter
{
    0%
    {
        width: 0%;
    }
    10%
    {
        width: 0%;
    }
    40%
    {
        width: 100%;
    }
    60% 
    {
        width: 100%;
    }
    90%
    {
        width: 0%;
    }
    100% 
    {
        width: 0%;
    }
}
@keyframes blink
{
    50%
    {
        border-right-color: transparent;
    }
}

.hero-buttons-container
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 1rem;
}

.hero-contact-button
{
    width: 100%;
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color-first);

    background-color: var(--text-color-first);
    padding: 1.5em 2em;
    border: 0.2em solid var(--text-color-first);
    border-radius: 0.5em;

    white-space: nowrap;

    cursor: pointer;
}


.hero-projects-button
{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color-first);

    background-color: var(--bg-color-first);
    padding: 1.5em 2em;
    border: 0.2em solid var(--text-color-first);
    border-radius: 0.5em;

    white-space: nowrap;

    cursor: pointer;
}

.arrow-icon-hero-button
{
    width: 2rem;
    fill: var(--text-color-first);
}

.hero-projects-button:active, .hero-contact-button:active
{
    filter: brightness(80%);
}


@media (min-width: 768px)
{
    #hero
    {
        flex-direction: row;
        padding: 0% 5%;
    }
    .hero-my-image
    {
        width: 30%;
    }
    .hero-buttons-container
    {
        flex-direction: row;
    }
}

@media (hover: hover) and (pointer: fine)
{
    .hero-contact-button:hover
    {
        border: 0.2em solid var(--primary-color);
        background-color: var(--primary-color);
        transform: translateY(-0.2em);
    }
    .hero-projects-button:hover
    {
        color: var(--primary-color);
        border: 0.2em solid var(--primary-color);
        transform: translateY(-0.2em);
    }
    .hero-projects-button:hover .arrow-icon-hero-button
    {
        fill: var(--primary-color);
    }
}