#hero-section
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6rem;

    padding: 0% 5%;

    scroll-margin-top: 0;
}
.projects-h1
{
    font-size: 4rem;
    font-weight: 700;
    color: var(--text-color-first);
    text-align: center;
}
.hero-arrow-down
{
    width: 4rem;

    animation: float 1s ease-in-out infinite;
}

@keyframes float
{
    0%, 100%
    {
        transform: translateY(0);
    }
    50%
    {
        transform: translateY(1rem);
    }
}

.projects-area
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.category-section
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
.highlights-section
{
    background-color: var(--gold)
}
.category-section-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    border: none;
    border-radius: 1rem;
}
.category-header
{
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
.category-header-icon
{
    width: 3rem;
    fill: var(--text-color-first);
}
.highlights-category-header-icon
{
    fill: var(--bg-color-first);
}

.category-header-name
{
    font-size: var(--headers-size);
    font-family: var(--font);
    font-weight: 700;
    color: var(--text-color-first);
}
.highlights-category-header-name
{
    color: var(--bg-color-first)
}

.projects-container
{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 2rem;
}
.project-card
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    background-color: var(--text-color-first);
    padding: 2rem 0rem;
    border-radius: 1rem;
}
.project-card-image
{
    width: 60%;
    aspect-ratio: 1 / 1;
    object-fit: cover;

    border: none;
    border-radius: 16%;
}
.project-card-content
{
    display: contents;
}
.project-card-text-area
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 1rem;

    width: 60%;
}
.project-card-content-name
{
    width: 100%;
    text-align: center;

    font-family: var(--font);
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--bg-color-first);
}
.project-card-content-description
{
    width: 100%;
    text-align: center;

    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--bg-color-second);
}
.project-card-github-button
{
    background-color: var(--bg-color-first);

    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color-first);

    padding: 1.2em 2em;
    border: none;
    border-radius: 0.5em;

    white-space: nowrap;

    cursor: pointer;
}
.project-card-github-button:active
{
    filter: brightness(80%);
}


@media (min-width: 768px)
{
    .project-card
    {
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 3rem;
                
        padding: 4rem 0rem;
    }
    .project-card-image
    {
        width: 30%;
    }
    .project-card-content
    {
        width: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }
    .project-card-text-area
    {
        width: 100%;
    }
}

@media (hover: hover) and (pointer: fine)
{
    .project-card:hover
    {
        background-color: var(--primary-color);
    }
    .highlight-card:hover
    {
        background-color: var(--bg-color-second);
    }
    .highlight-card:hover .project-card-content-name, .highlight-card:hover .project-card-content-description
    {
        color: var(--gold);
    }
    .highlight-card:hover .project-card-github-button
    {
        background-color: var(--gold);
    }
    .project-card-github-button:hover
    {
        filter: brightness(90%);
    }
}
