#projects-preview
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}
.projects-preview-header
{
    font-size: var(--headers-size);
    font-family: var(--font);
    font-weight: 700;
    color: var(--text-color-first);
}

/* SLIDER */
.projects-preview-slider-container
{
    width: 80%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    position: relative;
}
.projects-preview-slider-mask
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    overflow: hidden;

    border-radius: 1rem;
    background-color: var(--text-color-first);
}
.projects-preview-slider-content
{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transition: transform 1s ease-in-out;
}
.project-preview-card
{
    min-width: 100%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;

    background-color: var(--text-color-first);
    padding: 2rem 0rem;

    border-radius: 1rem;
}
.project-preview-card-image
{
    width: 80%;
    max-width: 500px;
    aspect-ratio:  1 / 1;
    object-fit: cover;
    border: none;
    border-radius: 16%;
}

.project-preview-card-content
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;  
    gap: 1rem;
    
    width: 60%;
}

.project-preview-card-name
{
    width: 100%;
    text-align: center;

    font-family: var(--font);
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--bg-color-first);
}

.project-preview-card-description
{
    width: 100%;
    text-align: center;

    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 400;
    color: var(--bg-color-second);
}

.projects-preview-github-button
{
    font-family: var(--font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color-first);
    
    padding: 1em 1.5em;
    border: none;
    border-radius: 0.5em;
    background-color: var(--bg-color-first);

    white-space: nowrap;

    cursor: pointer;
}
.control-button
{
    position: absolute;
    top: 50%;

    width: 5rem;
    height: 5rem;

    background-color: var(--text-color-first);
    border: solid 0.2rem var(--bg-color-first);
    border-radius: 16%;

    cursor: pointer;
}
.previous-button
{
    left: 0;
    transform: translateY(-50%) translateX(-50%);
}
.next-button
{
    right: 0;
    transform: translateY(-50%) translateX(50%);
}
.chevronIcon
{
    width: 4rem;
    fill: var(--bg-color-first);
}


/* PROJECTS BUTTON */
.projects-preview-all-projects-button
{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    font-family: (--font);
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--bg-color-first);

    background-color: var(--text-color-first);
    padding: 1.5em 2em;
    border: none;
    border-radius: 0.5em;

    white-space: nowrap;

    cursor: pointer;
}

.arrow-icon-button
{
    width: 2rem;
    fill: var(--bg-color-first);
}


