#skills
{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 4rem;
}

.skills-header
{
    font-size: 2rem;
    color: var(--text-color-first);
}

.skills-container
{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 0.8fr));
    justify-content: center;
    align-items: center;

    gap: 2rem;
}

.skill-card
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    padding: 2rem;
    aspect-ratio: 1 / 1;
    border: 0.2rem solid var(--border-color);
    border-radius: 16%;

}

.skill-card:hover
{
    transform: translateY(-0.5rem);
    border-color: var(--primary-color);
}

.skill-card:hover .skill-name
{
    color: var(--primary-color);
}

.skill-card:hover .skill-icon
{
    fill: var(--primary-color);
}

.skill-name
{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color-first);
}

.skill-icon
{
    width: 10rem;
    fill: var(--text-color-first);
}
